/* RESET */

html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, font, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

margin: 0;

padding: 0;

outline: 0;

font-size: 100%;

vertical-align: baseline;

background: transparent;

height: auto;

border-top-width: 0;

border-bottom-width: 0;

border-left-width: 0;

}

blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}

blockquote, q {quotes: none;}

:focus {outline: 0;}

.clear {clear: both;display: block;height: 1px;overflow: hidden;margin: 0;padding: 0;}

ins {text-decoration: none;}

del {text-decoration: line-through;}

table {border-collapse: collapse;border-spacing: 0;}

ol, ul {list-style: none;}

body {background-color: white;background-position: center center;}

/* RESET */

*{
  box-sizing:border-box;
}

.top-wrapper{
    padding: 280px 0 260px 0;
    background-image:url(images/topbgv1.jpg);
    background-size:cover;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.teks h1,.teks h2 {
    color: #3aacf9;
}

.teks h1{
   font-size: 50px;
}
.teks h2{
    font-size: 30px;
 }

 .teks p{
     margin-top: 15px;
     font-size: 20px;
 }

 header {
    height: 65px;
    width: 100%;
    background-color:#3bacfa;
    /* background-color: rgba(59, 172, 250, 0.9); */
    /* Ubah position ke fixed, dan top ke 0 */
    /* position:fixed; */
    top:0;
    
    /* Ubah z-index ke 10 */
    z-index:10;
  }
  
  .logo {
    width: 200px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
  }
  
  .header-left {
    float: left;
  }

  .header-list li{
    list-style: none;
    float: left;
    padding:25px 20px;
    color:#fff;
  }
  
  .header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    /* Ubah property transition */
    transition:all 0.5s;
  }
  
  .header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  /* Tambahkan CSS untuk tag <a> didalam header-right */
  .header-right a{
    text-decoration: none;
    line-height:65px;
    padding-left:25px;
    padding-right:25px;
    color:white;
    display:block;
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    /* Gantikan property display ke none */
    display: none;
  }

  

  .bagian-tambahan{
    width: 100%;
    height: auto;
    /* padding: 50px 0px 100px 0px; */
    text-align: center;
  }

  .heading h2{
    margin-top: 100px;
    margin-bottom: 90px;
    font-size: 30px;
    color: #5f5d60;
  }

  .tips{
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .tip{
    cursor: pointer;
    width: 25%;
    float: left;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
  }

  .tip img{
    width:150px;
  }

  .tip:hover img{
    transform: scale(1.2);
  }


  .tip p{
    font-size: 20px;
    margin-top: 10px;
  }

  .clear{
    clear:left;
  }

  footer{
    width: 100%;
    height: auto;
    background-color: #5f5d60;
    padding: 50px 0px;
    text-align: center;
  }

  .footer-container{
    width: 100%;
    color: #fff;
  }

  .footer-container h1{
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer-container li{
    font-size: 30px;
    display: inline;
    font-size: 15px;
    padding: 10px 20px;
  }

